body {
    background-color: slategray;
    align-items: center;
    text-align: center;
    justify-content: center;
}
h1 {
    color: brown;
    font-size: 50px;
    text-decoration: underline;
}
h2 {
    color: brown;
}
.rules {
    background-color: salmon;
    color: brown;
    height: 80px;
    max-width: 500px;
    border: solid;
    border-color: red;
    border-radius: 5%;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 5px;
    justify-content: space-around;
    font-size: 18px;
    white-space: pre-line;
}
.gametable {
    background-color: darkgreen;
    height: 600px;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    align-content: center;
    flex-direction: row;
    border: solid;
    border-width: 10px;
    border-color: brown;
    border-radius: 5%;
    flex-wrap: wrap;
}
.deck1 {
    background-color: salmon;
    height: 33%;
    width: 30%;
    border: solid;
    border-color: red;
    border-radius: 5%;
    margin: 30px;
}

.deck2 {
    background-color: salmon;
    height: 33%;
    width: 30%;
    border: solid;
    border-color: red;
    border-radius: 5%;
    margin: 30px;
}
.score1 {
    background-color: salmon;
    color: brown;
    height: 15%;
    width: 33%;
    border: solid;
    border-color: red;
    border-radius: 5%;
    margin-bottom: 50px;
    margin: 10px;
    margin-bottom: 40px;
}
.score2 {
    background-color: salmon;
    color: brown;
    height: 15%;
    width: 33%;
    border: solid;
    border-color: red;
    border-radius: 5%;
    margin-bottom: 50px;
    margin: 10px;
    margin-bottom: 40px;
}
.draw {
    background-color: goldenrod;
    color: slateblue;
    height: 60px;
    width: 60px;
    font-size: 75%;
    border-color: brown;
    border-width: 5px;
    border-radius: 50%;
    margin: 10px;
    margin-right: 100%;
    margin-left: 100%;
    align-self: center;
    flex-wrap: wrap;
}
.restart {
    background-color: slateblue;
    color: yellow;
    height: 50px;
    width: 65px;
    font-size: 75%;
    border-color: brown;
    border-width: 5px;
    border-radius: 25%;
    margin: 10px;
    align-self: center;
    flex-wrap: wrap;
}
.value1 {
    font-size: 60px;
}
.value2 {
    font-size: 60px;
}